# SUPABASE
NEXT_PUBLIC_SUPABASE_URL=your_supabase_url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key
SUPABASE_SERVICE_ROLE_KEY=your_service_role_key

# TELEBIRR
TELEBIRR_RECEIVING_NUMBER=2519XXXXXXXX

# TELEGRAM BOT
TELEGRAM_BOT_TOKEN=your_bot_token

# GROQ
GROQ_API_KEY=your_groq_api_key

# RESEND
RESEND_API_KEY=your_resend_key
EMAIL_FROM=noreply@fundedbirr.com

# APP
NEXT_PUBLIC_APP_URL=http://localhost:3000
